@import "../../styles.scss";

table {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  thead {
    th {
      background-color: rgb(114, 114, 114);
      color: white;
      font-size: 1.5rem;
      padding: .5rem;
      &:hover {
        background-color: $col-salmon;
        cursor: pointer;
      }
    }
  }
  tbody {
    padding: 1rem;
    tr {
      cursor: pointer;
      &:nth-of-type(odd) {
        background-color: #eee;
      }
      &:hover {
        background-color: $col-salmon;
        color: white;
      }
    }
  }
}
